/* frontend/src/modules/LoginPage.module.css */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.wrapper {
  text-align: center;
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.registerText {
  margin-top: 10px;
  font-size: 0.9em;
  color: gray;
}

.registerLink {
  color: #007bff;
  text-decoration: none;
}

.registerLink:hover {
  text-decoration: underline;
}
